#root {
    display: flex;
    flex-direction: column;
}
.title {
    background: linear-gradient(65deg, white, oklch(86.9% 0.022 252.894));
}
.title-profession {
    background-image: linear-gradient(65deg, white, oklch(58.8% 0.158 241.966));
    color: transparent;
    background-clip: text;
}

.link {
    border-bottom: 3px solid rgb(39, 110, 151);
}
.link:hover {
    border-bottom: none;
}
.github-image {
    transition: transform 1s ease-in-out;
}
.github-image:hover {
    transform: rotate(-360deg);
}
@media screen and (width>1000px) {
    .project {
        width: 70%;
        position: relative;
        left: 25%;
        scroll-margin-top: 2rem;
    }
    .project-title {
        position: sticky;
    }
}
