#root {
    display: flex;
    flex-direction: column;
}
.title {
    background: linear-gradient(65deg, white, oklch(86.9% 0.022 252.894));
}
.title-profession {
    background-image: linear-gradient(65deg, white, oklch(58.8% 0.158 241.966));
    color: transparent;
    background-clip: text;
}
.projects {
    position: relative;
}
.project {
    position: relative;
    left: 25%;
    scroll-margin-top: 2rem;
}
.link {
    border-bottom: 3px solid rgb(39, 110, 151);
}
.link:hover {
    border-bottom: none;
}
