@import "tailwindcss";

main {
    & section:last-of-type {
        margin-bottom: 2rem;
    }
}
h2 {
    border-bottom: 1px solid oklch(70.4% 0.04 256.788);
    text-transform: capitalize;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: oklch(86.9% 0.022 252.894);
}
::-webkit-scrollbar-thumb:hover {
    background: oklch(80.9% 0.105 251.813);
}
