@import "tailwindcss";

main {
    & section:last-of-type {
        margin-bottom: 5rem;
    }
}
h2 {
    text-transform: capitalize;
}
h1 span {
    font-size: 3.75rem;
}
@media screen and (width<1200px) {
    h1 span {
        font-size: 3rem;
    }
}
@media screen and (width<600px) {
    h1 span {
        font-size: 2.5rem;
    }
}
@media screen and (width<400px) {
    h1 span {
        font-size: 2.25rem;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: oklch(86.9% 0.022 252.894);
}
::-webkit-scrollbar-thumb:hover {
    background: oklch(80.9% 0.105 251.813);
}
